.third-section {
  max-width: 87%;
  margin: 100px auto;
  padding: 50px;
  text-align: center;
  /* background-color: #81AFDD; */
}


.portfolio_title {
  font-size: 46px;
  line-height: 52px;
}
.portfolio_subtitle {
  font-size: 36px;
  line-height: 52px;
  margin-bottom: 50px;
  
}

.blocks-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  flex-wrap: wrap; /* Позволяет блокам переноситься на новую строку */
}

.block {
  width: 250px;
  height: auto; /* Изменено для адаптивности */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px; /* Добавлено для отступа между блоками при переносе */
}

.block img {
  max-width: 100%;
  height: auto;
}

.button {
  padding: 10px 15px;
  text-decoration: none;
  color: #ffffff;
  background-color: #007bff;
  border-radius: 5px;
  margin-top: 10px;
}

/* Медиазапрос для экранов шириной до 768px */
@media (max-width: 768px) {
  .block {
    width: 100%; /* Блоки теперь будут занимать всю ширину контейнера */
    /* Уменьшаем размеры внутренних элементов, если необходимо */
  }
  .blocks-container {
    flex-direction: column; /* Вертикальное расположение блоков */
    align-items: center; /* Центрирование блоков */
  }
}
