.third-section {
  text-align: center; 
  margin: 100px 0; 
}

.blocks-container {
  display: flex;
  justify-content: center; 
  gap: 20px; 
}

.block {
  width: 200px;
  height: 250px;

  display: flex;
  flex-direction: column;
  align-items: center; 
  padding: 10px;

  backdrop-filter: blur(1px);
  background: rgba(255, 255, 255, 0.192);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 8px rgba(43, 43, 43, 0.568);
}

.block img {
  max-width: 100%; 
  height: auto;
  margin-bottom: 10px; 
}

/* Adaptive styling for smaller screens */
@media (max-width: 768px) {
  .blocks-container {
    flex-direction: column; 
  }
}