/* src/Timeline.css */
.timeline-container {
    position: relative;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* overflow-x: auto; */
    padding: 50px 20px; /* Adjust padding to ensure there's space for the line and description */
    gap: 60px;
  }
  
  .timeline-line, .timeline-progress {
    position: absolute;
    height: 2px;
    width: 95%;
    bottom: 20px; /* Position the line directly under the points */
    background-color: #ddd; /* Default line color */
    z-index: 0;
  }
  
  .timeline-progress {
    background-color: #007bff; /* Color for the part of the line up to the clicked point */
    transition: width 0.3s ease;
  }
  
  .timeline-item {
    position: relative;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    z-index: 1;
  }
  .timeline-date {
    font-size: 16px;
    color: white;
  }
  
  .timeline-dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #bbb; /* Default dot color */
    transition: background-color 0.3s;
  }
  
  .timeline-item.active .timeline-dot, .timeline-dot.active {
    background-color: #007bff; /* Active dot color */
  }
  
  .timeline-description {
    position: absolute;
    width: 100%; /* Ensure the description spans the width of the timeline */
    text-align: center;
    bottom: -68px; /* Adjust this value as needed to position the description below the line */
    z-index: 1;
    font-size: 19px;
    color: white;
  }
  
  @media (max-width: 768px) {
    .timeline-container {
      justify-content: center;
    }
  }
  