.gpt3__cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  padding: 2rem;
  margin: 4rem;
  border-radius: 1rem;
  background: var(--gradient-bar);
}

.gpt3__cta-content {
  display: flex;
  flex-direction: column;

  text-align: left;
  color: #fff;
}

@media screen and (max-width: 650px) {
  .gpt3__cta {
    flex-direction: column;
  }

  .gpt3__cta-btn {
    margin: 2rem 0 0;
  }
}

@media screen and (max-width: 550px) {
  .gpt3__cta {
    flex-direction: column;
    margin: 4rem 2rem;
  }
}

.contact-us {
    text-align: center;
    padding: 40px;
    margin-bottom: 50px;
    backdrop-filter: blur(1px);
    background: rgba(255, 255, 255, 0.192);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 8px rgba(43, 43, 43, 0.568);
  }
  
  .contact-info p,
  .social-media a {
    margin: 10px;
    display: inline-block;
    vertical-align: middle;
  }
  
  .contact-form input,
  .contact-form textarea {
    margin: 10px 0;
    width: 90%;
    padding: 10px;
  }
  
  .contact-form button {
    background-color: #0056b3;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
